.home-container {
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .container > * {
    max-width: 800px;
    width: 100%;
  }  
  .title-container{
    text-align:center;
    font-size: large;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }